* {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    font-family: Courier, monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;
}